[submodule "user"]
	path = user
	url = git@github.com:XicuM/agentic-wiki-user.git
[submodule "wiki"]
	path = wiki
	url = git@github.com:XicuM/agentic-wiki-wiki.git
[submodule "sources"]
	path = sources
	url = git@github.com:XicuM/agentic-wiki-sources.git
