[submodule "user"]
	path = user
	url = ./user
[submodule "wiki"]
	path = wiki
	url = /home/user/Projects/hpdsa_wiki/wiki
[submodule "sources/internal_documentation/hpdsa_documents"]
	path = sources/internal_documentation/hpdsa_documents
	url = git@gitlab-internal.bsc.es:hpdsa/documents.git
