[submodule "user"]
	path = user
	url = ./user
[submodule "wiki"]
	path = wiki
	url = git@gitlab-internal.bsc.es:xmaripra/hpdsa-wiki-wiki.git
[submodule "sources"]
	path = sources
	url = git@gitlab-internal.bsc.es:xmaripra/hpdsa-wiki-sources.git
